In [1]:
import pandas as pd
import datetime
from datetime import timedelta
import numpy as np

In [34]:
flights_test = pd.read_csv('test.csv')
flights = pd.read_csv('train.csv')

## Clean entries not present in test set

In [35]:
print('ORIGIN_AIRPORT_train: ', len(flights.ORIGIN_AIRPORT.unique()))
print('AIRLINE_train: ', len(flights.AIRLINE.unique()))
print('ORIGIN_AIRPORT_test: ', len(flights_test.ORIGIN_AIRPORT.unique()))
print('AIRLINE_test: ', len(flights_test.AIRLINE.unique()))

ORIGIN_AIRPORT_train:  322
AIRLINE_train:  14
ORIGIN_AIRPORT_test:  312
AIRLINE_test:  13

In [36]:
orig_airport_test = set(flights_test.ORIGIN_AIRPORT.unique())
airline_test = set(flights_test.AIRLINE.unique())
orig_airport = set(flights.ORIGIN_AIRPORT.unique())
airline = set(flights.AIRLINE.unique())
diff_airport = list(orig_airport ^ orig_airport_test)
diff_airline = list(airline_test ^ airline)

In [37]:
flights = flights[flights.AIRLINE != 'US'].reset_index(drop=True)

In [38]:
for x in range(len(diff_airport)):
    flights = flights[flights.ORIGIN_AIRPORT != diff_airport[x]]

flights = flights.reset_index(drop=True)

## One-hot encoding

In [39]:
one_hot = pd.get_dummies(flights.DAY_OF_WEEK, prefix = 'day_of_week')
flights = flights.drop('DAY_OF_WEEK',axis = 1)
flights = flights.join(one_hot)

one_hot = pd.get_dummies(flights.ORIGIN_AIRPORT, prefix = 'ORIGIN_AIRPORT')
flights = flights.drop('ORIGIN_AIRPORT',axis = 1)
flights = flights.join(one_hot)

one_hot = pd.get_dummies(flights.AIRLINE, prefix = 'AIRLINE')
flights = flights.drop('AIRLINE',axis = 1)
flights = flights.join(one_hot)

one_hot = pd.get_dummies(flights.TIME_OF_DAY, prefix = 'TIME_OF_DAY')
flights = flights.drop('TIME_OF_DAY',axis = 1)
flights = flights.join(one_hot)

In [40]:
flights = flights.drop(columns = ['SCHEDULED_DEPARTURE_TIME', 'Month'])

In [41]:
flights

,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,DISTANCE,ARRIVAL_DELAY,DELAYED_DEPARTURE,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,...,AIRLINE_MQ,AIRLINE_NK,AIRLINE_OO,AIRLINE_UA,AIRLINE_VX,AIRLINE_WN,TIME_OF_DAY_Afternoon,TIME_OF_DAY_Evening,TIME_OF_DAY_Morning,TIME_OF_DAY_Night
0,21,15,205,1448,-22,-11,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,12,14,280,2330,-9,-8,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,15,30,285,2342,-9,-5,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,11,35,235,1448,-21,-1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,18,38,217,1589,8,-5,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622069,11,9,241,1744,-8,-1,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
2622070,11,140,201,1379,79,90,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
2622071,8,200,249,1825,107,113,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
2622072,12,24,250,1874,9,13,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
2622073,14,21,275,2007,-8,8,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0

In [42]:
flights.to_csv('flights_train.csv')

### Test Test

In [43]:
flights = flights_test

In [44]:
one_hot = pd.get_dummies(flights.DAY_OF_WEEK, prefix = 'day_of_week')
flights = flights.drop('DAY_OF_WEEK',axis = 1)
flights = flights.join(one_hot)

one_hot = pd.get_dummies(flights.ORIGIN_AIRPORT, prefix = 'ORIGIN_AIRPORT')
flights = flights.drop('ORIGIN_AIRPORT',axis = 1)
flights = flights.join(one_hot)

one_hot = pd.get_dummies(flights.AIRLINE, prefix = 'AIRLINE')
flights = flights.drop('AIRLINE',axis = 1)
flights = flights.join(one_hot)

one_hot = pd.get_dummies(flights.TIME_OF_DAY, prefix = 'TIME_OF_DAY')
flights = flights.drop('TIME_OF_DAY',axis = 1)
flights = flights.join(one_hot)

In [47]:
flights = flights.drop(columns = ['SCHEDULED_DEPARTURE_TIME', 'Month'])

In [49]:
flights.to_csv('flights_test.csv')

In [50]:
flights.head()

,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,DISTANCE,DELAYED_DEPARTURE,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,...,AIRLINE_MQ,AIRLINE_NK,AIRLINE_OO,AIRLINE_UA,AIRLINE_VX,AIRLINE_WN,TIME_OF_DAY_Afternoon,TIME_OF_DAY_Evening,TIME_OF_DAY_Morning,TIME_OF_DAY_Night
0,11,52,177,1222,38,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
1,21,21,303,2296,-5,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,36,36,223,1619,-5,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,14,107,178,1299,48,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
4,20,37,364,2846,9,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1